@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Festive&family=Fira+Sans&family=Heebo:wght@800&family=Mulish:wght@700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,700;0,800;1,600;1,800&display=swap");

body {
  margin: 0;
  background-color: rgb(154, 154, 198);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  font-family: "Festive", cursive;
  font-family: "Fira Sans", sans-serif;
  font-family: "Heebo", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.containser {
  display: flex;
}

.box {
  width: 400px;
  height: 600px;
  margin: 20px;
}

.one {
  background-image: url("media/pic.jpg");
  background-size: cover;
}

.two {
  background-color: rgb(204, 152, 152);
}
.steps {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 120px;
}
.step {
  /* border: 2px solid red; */
  /* width: 32%; */
  text-align: center;
  font-size: 25px;
}
