body {
  margin: 0;
  background-color: salmon;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  color: brown;
}

.containser {
  display: flex;
}

.box {
  width: 400px;
  height: 600px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

.one {
  background-image: url("media/pic.jpg");
  background-size: cover;
}

.two {
  background-color: whitesmoke;
  overflow: hidden;
}
.steps {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 80px;
}
.step {
  height: 100%;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  margin: 0%;
}

.step:hover {
  background-color: palevioletred;
  color: rgb(85, 85, 85);
  transition: 500ms;
}

h1 {
  margin: 40px 40px;
}

.par {
  font-size: 20px;
  margin: 40px;
  display: none;
}

.print {
  font-size: 20px;
  margin: 40px;
}

.display {
  display: none;
}

.active {
  background-color: white;
}
